<h1><%= t ".title" %></h1>

<p><%= t ".note_click_link" %></p>

<%= link_to "Reset password",
  edit_password_reset_url(@user.reset_token, email: @user. email) %>

<p><%= t ".note_expire_reset" %></p>

<p><%= t ".note_ignone_email" %></p>
