<footer class="footer">
  <small>
    <%= t "the" %> <a href="http://www.railstutorial.org/"><%= t "lorem2" %></a>
    <%= t "by" %> <a href="http://www.michaelhartl.com/"><%= t "author_rails" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about_title"), about_path %></li>
      <li><%= link_to t("contact_title"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "new_title" %></a></li>
    </ul>
  </nav>
</footer>
